{% extends 'console.twig' %}

{% block console %}
    <div class="site-content">
        <!--<h1 class="site-h1">域名管理</h1>-->
        <!-- 数据查询条件 start -->
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="kw" class="layui-input" placeholder="关键词">
                    </div>
                    <div class="layui-input-inline">
                        <select name="template_id">
                            <option value="0">所有模版</option>
                            {% for item in templates %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="dns_status">
                            <option value="0">NS验证状态</option>
                            <option value="1">未通过</option>
                            <option value="2">已通过</option>
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <button class="layui-btn"  lay-filter="btnSearch" lay-submit>查询</button>
                        <button class="layui-btn layui-btn-normal" id="btnAdd">添加域名</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- 数据查询条件 end -->

        <!-- 数据表格 start -->
        <script type="text/html" id="headerToolBar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="batchEdit">批量修改</button>
                <button class="layui-btn layui-btn-sm" lay-event="batchDel">批量删除</button>
                <button class="layui-btn layui-btn-sm" lay-event="batchDnsCheck">批量验证DNS</button>
            </div>
        </script>
        <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        <script type="text/html" id="toolBar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        <!-- 数据表格 end -->
    </div>

    <div id="modal" style="display: none">
        <div id="modalAdd">
                <form class="layui-form modal" action="" lay-filter="modalAdd">
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">域名</label>
                        <div class="layui-input-block">
                            <textarea name="name" placeholder="一行一个域名，也可支持逗号','和空格' '等分隔的域名，域名不用带www" rows="10" lay-verify="required"  class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">域名简介</label>
                        <div class="layui-input-block">
                            <textarea  name="description" placeholder="域名简介" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">报价</label>
                        <div class="layui-input-block">
                            <input type="text" name="price" autocomplete="off" placeholder="请输入标题" class="layui-input" value="0">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">停靠模板</label>
                        <div class="layui-input-block">
                            <select name="template_id">
                                <option value="0">所有模版</option>
                                {% for item in templates %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['layer', 'element', 'form', 'table', 'utils'], function(){
            var layer = layui.layer;
            var element = layui.element;
            var form = layui.form;
            var $ = layui.$;
            var utils = layui.utils;
            layui.utils.log('gwaega');
            //数据表格处理
            var table = layui.table;
            table.render({
                elem: '#dataTable'
                ,url:'/api/domain'
                ,toolbar : '#headerToolBar'
                ,cols: [[
                    {type:'checkbox'}
                    ,{field:'name',  title: '域名', sort: true}
                    ,{field:'description', title: '含义', event: 'editDescription', style:'cursor: pointer;'}
                    ,{field:'price',  title: '报价', sort: true, templet: function (d) {
                        return d.sale_type == 1 ? '询价' : '￥'+d.price
                    }}
                    ,{field:'ssl_status', title: 'SLL证书', sort: true, templet : function (d) {
                            if (d.suffix!="app") {
                                return "不需要";
                            } else {
                                if (!d.dns_status) {
                                    return "等待NS验证"
                                } else {
                                    if (d.ssl_status == 0) {
                                        return "申请中";
                                    } else if (d.ssl_status == 1) {
                                        return "成功";
                                    } else {
                                        return "等待重试"
                                    }
                                }
                            }
                        }}
                    ,{field:'dns_status', title: 'NS验证', sort: true, templet : function (d) {
                            if (d.dns_status) {
                                return '<span class="layui-badge layui-bg-blue">已通过</span>';
                            } else {
                                return '<a class="layui-btn layui-btn-xs layui-btn-danger">未通过</a>'
                            }
                        }}
                    ,{fixed:'right', title: '操作', align:'center', toolbar : '#toolBar' }
                ]]
                ,page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'] //自定义分页布局
                    ,curr: 1 //设定初始在第 1 页
                    ,limits : [10, 20, 30, 50, 100]
                    ,limit : 20
                    ,groups: 5 //只显示 1 个连续页码
                    ,first: '首页' //不显示首页
                    ,last: '尾页' //不显示尾页

                }
                ,parseData: function(res){ //将原始数据解析成 table 组件所规定的数据
                    return {
                        "code": res.errCode, //解析接口状态
                        "msg": res.errMsg, //解析提示文本
                        "count": res.data.count, //解析数据长度
                        "data": res.data.records //解析数据列表
                    };
                }
            });

            //监听查询条件
            form.on('submit(btnSearch)', function (data) {
                table.reload('dataTable', {
                    //重新从第 1 页开始
                    page: {curr: 1}
                    ,where: data.field
                });
                return false;
            });

            //监听排序
            table.on('sort(dataTable)', function(obj){
                table.reload('dataTable', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    ,where: {'order_name' : obj.field, 'order_type':obj.type}
                });
            });

            //头工具栏事件
            table.on('toolbar(dataTable)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'batchEdit':
                        var data = checkStatus.data;
                        layer.alert(JSON.stringify(data));
                        break;
                    case 'batchDel':
                        var data = checkStatus.data;
                        layer.msg('选中了：'+ data.length + ' 个');
                        break;
                    case 'batchDnsCheck':
                        layer.msg(checkStatus.isAll ? '全选': '未全选');
                        break;
                };
            });
            //监听行工具条
            table.on('tool(dataTable)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
                var tr = obj.tr; //获得当前行 tr 的DOM对象

                if(layEvent === 'del'){ //删除
                    layer.confirm('确定删除改数据吗？', function(index){
                        //向服务端发送删除指令
                        utils.$.delete('{{ path_for('api.domain.del') }}', {id:data.id}, function (res) {
                            obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            layer.close(index);
                        })
                    });
                } else if(layEvent === 'edit'){ //编辑
                    //do something

                    //同步更新缓存对应的值
                    /*obj.update({
                        username: '123'
                        ,title: 'xxx'
                    });*/
                } else if (layEvent == 'editDescription') {
                    layer.prompt({
                        formType: 2
                        ,title: '修改 ['+ data.name +'] 的含义说明'
                        ,value: data.description
                    }, function(value, index){
                        layer.close(index);
                        //这里一般是发送修改的Ajax请求
                        utils.$.post('{{ path_for('api.domain.update') }}',{id:data.id, description:value}, function (res) {
                            //同步更新表格和缓存对应的值
                            obj.update({
                                description: value
                            });
                        });

                    });
                }
            });

            layui.$('#btnAdd').on('click', function () {
                    layer.open({
                        type: 1,
                        id : 'form-modal-add',
                        title: '添加域名',
                        maxmin: true, //开启最大化最小化按钮
                        shadeClose: false,
                        shade: 0.3,
                        area: ['800px'],
                        content: layui.$('#modalAdd').html(), //注意，如果str是object，那么需要字符拼接。
                        btn: ['提交', '取消'],
                        scrollbar:false,
                        yes: function(index, layero){
                            //按钮【按钮一】的回调
                            //console.log($('#form-modal-add').serializearray());
                        },
                        btn2: function(index, layero){
                            //按钮【按钮二】的回调
                            //return false 开启该代码可禁止点击该按钮关闭
                        },
                        success : function () {
                            form.render();
                        }
                    });
            })
        });
    </script>
{% endblock %}