{% extends 'console.twig' %}

{% block console %}

    <!-- 数据查询条件 start -->
    <form class="layui-form">
        <div class="layui-row layui-col-space10 layui-form-item">
            <div class="layui-col-md3">
                <input type="text" name="kw" class="layui-input" placeholder="关键词">
            </div>
            <div class="layui-col-md3">
                <select name="template_id">
                    <option value="0">所有模版</option>
                    {% for item in templates %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="layui-col-md3">
                <select name="dns_status">
                    <option value="0">NS验证状态</option>
                    <option value="1">未通过</option>
                    <option value="2">已通过</option>
                </select>
            </div>
            <div class="layui-col-md3">
                <button class="layui-btn" lay-filter="btnSearch" lay-submit>查询</button>
                <button class="layui-btn layui-btn-normal" id="btnAdd">添加域名</button>
            </div>
            </div>
        </div>
    </form>
    <!-- 数据查询条件 end -->

    <!-- 数据表格 start -->

    <div class="layui-card">
        <div class="layui-card-header">域名列表</div>
        <div class="layui-card-body">
            <table class="layui-hide" id="dataTable" lay-filter="dataTable"></table>
        </div>
    </div>
    <script type="text/html" id="headerToolBar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="batchEdit">批量修改</button>
            <button class="layui-btn layui-btn-sm" lay-event="batchDel">批量删除</button>
            <button class="layui-btn layui-btn-sm" lay-event="batchDnsCheck">批量验证DNS</button>
        </div>
    </script>
    <script type="text/html" id="toolBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <div class="modal-tpl" id="modalAdd-tpl">
        <div class="modal">
            <form class="layui-form" action="">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">域名</label>
                    <div class="layui-input-block">
                        <textarea name="domains" placeholder="一行一个域名，也可支持逗号','和空格' '等分隔的域名，域名不用带www" rows="8"
                                  lay-verify="required" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">域名简介</label>
                    <div class="layui-input-block">
                        <textarea name="description" placeholder="域名简介" lay-verify="description"
                                  class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">报价</label>
                    <div class="layui-input-inline" style="width: 80px">
                        <select name="unit" lay-verify="required">
                            {% for item in coin_units %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width: 160px">
                        <input type="number" name="price" autocomplete="off" placeholder="请输入您的报价"
                               class="layui-input">
                    </div>
                    <div class="layui-input-inline">
                        <input type="checkbox" name="sale_type" title="询价" lay-filter="sale_type" checked="">
                        <i class="layui-icon layui-icon-help tips" data-title="输入的报价为0的时候，也会认为是询价"></i>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">停靠模板</label>
                    <div class="layui-input-block">
                        <select name="template_id" lay-verify="required">
                            <option value="">所有模版</option>
                            {% for item in templates %}
                                <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">购买链接</label>
                    <div class="layui-input-block">
                        <input type="text" name="buy_link"  placeholder="购买链接"
                               class="layui-input">
                    </div>
                </div>
                <button lay-submit lay-filter="modalAdd" style="display: none" class="submit">提交</button>
            </form>
        </div>
    </div>

    <div class="modal-tpl" id="dnsCheck-tpl">
        <div class="modal layui-row">
            <div class="layui-col-md6 ">
                <div class="dnsCheck" style="max-height: 230px;overflow: auto">
                    <span class="loading">校验中...</span>
                </div>
            </div>
            <div class="layui-col-md6">
                <blockquote class="layui-elem-quote">
                    请将您的域名dns服务器地址修改成下面您的专属dns地址<br/>
                    {{ userInfo.dns_server_str|raw }}<br/>
                    <hr>
                    如果狗爹的添加上面的dns地址失败，请使用下面的狗爹专用<br/>
                    ns1.wuxin.info<br/>ns2.wuxin.info
                </blockquote>
            </div>
        </div>
    </div>

    <div class="modal-tpl" id="batchEdit-tpl">
        <div class="modal">
            <form class="layui-form">

            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['layer', 'element', 'form', 'table', 'utils'], function () {
            var layer = layui.layer;
            var form = layui.form;
            var $ = layui.$;
            var utils = layui.utils;

            var API = {
                del: '{{ path_for('api.domain.del') }}',
                add: '{{ path_for('api.domain.add') }}',
                modalEdit: '{{ path_for('domain.modal', {'act':'edit'}) }}',
            }

            //数据表格处理
            var table = layui.table;
            table.render(layui.$.extend({
                elem: '#dataTable'
                , url: '{{ path_for('api.domain.get') }}'
                , toolbar: '#headerToolBar'
                //,skin: 'row ' //行边框风格
                //,even: true //开启隔行背景
                , cols: [[
                    {type: 'checkbox'}
                    , {field: 'name', title: '域名', sort: true}
                    , {field: 'description', title: '含义',minWidth : 200, event: 'editDescription', style: 'cursor: pointer;'}
                    , {
                        field: 'price', title: '报价', width: 90, sort: true, templet: function (d) {
                            return d.sale_type == 1 ? '询价' : '￥' + d.price
                        }
                    }
                    , {
                        field: 'ssl_status', title: 'SLL证书', width: 100, sort: true, templet: function (d) {
                            if (d.suffix != "app") {
                                return "无需";
                            } else {
                                if (!d.dns_status) {
                                    return "待NS验证"
                                } else {
                                    if (d.ssl_status == 0) {
                                        return "申请中";
                                    } else if (d.ssl_status == 1) {
                                        return "成功";
                                    } else {
                                        return "待重试"
                                    }
                                }
                            }
                        }
                    }
                    , {
                        field: 'dns_status', title: 'NS验证', width: 90, sort: true, event: 'dnsCheck', templet: function (d) {
                            if (d.dns_status) {
                                return '<span class="layui-badge layui-bg-blue">已通过</span>';
                            } else {
                                return '<a class="layui-btn layui-btn-xs layui-btn-danger">未通过</a>'
                            }
                        }
                    }
                    , {fixed: 'right', title: '操作', width: 110, align: 'center', toolbar: '#toolBar'}
                ]]
            }, utils.tableOptions));

            //监听查询条件
            form.on('submit(btnSearch)', function (data) {
                table.reload('dataTable', {
                    page: {curr: 1}//重新从第 1 页开始
                    , where: data.field
                });
                return false;
            });

            //监听提交表单
            form.on('submit(modalAdd)', function (data) {
                utils.ajax.post(API.add, data.field, function (res) {
                    table.reload('dataTable');
                    layer.closeAll();
                    layer.msg('添加域名成功！');
                })
                return false;
            });

            //监听排序
            table.on('sort(dataTable)', function (obj) {
                table.reload('dataTable', {
                    initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                    , where: {'order_name': obj.field, 'order_type': obj.type}
                });
            });

            //头工具栏事件
            table.on('toolbar(dataTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                var data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg('未选中数据')
                    return false;
                }
                var ids = [];
                data.forEach(function (o, i) {
                    ids.push(o.id)
                })
                switch (obj.event) {
                    case 'batchEdit':
                        $.get(API.modalEdit + '?raw=1&id=' + ids.join(','), function (res) {
                            var id = 'modalBatchEdit';
                            var lay = layer.open({
                                title: '批量修改域名信息',
                                id: id,
                                type: 1,
                                area: ['900px', '600px'],
                                content: res,
                                maxmin: true, //开启最大化最小化按钮
                                btn: ['确认', '取消'],
                                yes: function (index) {
                                    $('#' + id).find('button.submit').trigger('click')
                                },
                                success: function () {
                                    form.render()
                                    //渲染modal表单后，相关js逻辑
                                    var $form = $('#' + id);
                                    var $inp = $form.find('input[name=theme_id]');
                                    $form.find('.theme-img').on('click', function () {
                                        $inp.val($(this).data('themeid'));
                                        $form.find('.theme-img').removeClass('theme-checked');
                                        $(this).addClass('theme-checked');
                                    })
                                }
                            })
                            layer.full(lay)
                        })
                        break;
                    case 'batchDel':
                        utils.delById(API.del, ids, function (res) {
                            table.reload('dataTable');
                        })
                        break;
                    case 'batchDnsCheck':
                        dnsCheck(ids)
                        break;
                }
                ;
            });
            //监听行工具条
            table.on('tool(dataTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

                if (layEvent === 'del') { //删除
                    utils.delById(API.del, data.id, function (res) {
                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    })
                } else if (layEvent === 'edit') { //编辑
                    //do something

                    //同步更新缓存对应的值
                    /*obj.update({
                        username: '123'
                        ,title: 'xxx'
                    });*/
                } else if (layEvent === 'dnsCheck') {
                    if (data.dns_status == 0) {
                        dnsCheck([data.id], function (status) {
                            obj.update({dns_status: status ? 1 : 0});
                        });
                    }
                } else if (layEvent == 'editDescription') {
                    layer.prompt({
                        formType: 2
                        , title: '修改 [' + data.name + '] 的含义说明'
                        , value: data.description
                    }, function (value, index) {
                        layer.close(index);
                        //这里一般是发送修改的Ajax请求
                        utils.ajax.post('{{ path_for('api.domain.update') }}', {
                            id: data.id,
                            description: value
                        }, function (res) {
                            //同步更新表格和缓存对应的值
                            obj.update({
                                description: value
                            });
                            layer.msg('修改成功！')
                        });
                    });
                }
            });

            function dnsCheck(ids, success) {
                var id = 'dnsCheck';
                layer.open({
                    type: 1,
                    id: id,
                    title: '校验NS地址',
                    shadeClose: false,
                    shade: 0.3,
                    area: ['600px'],
                    content: $('#dnsCheck-tpl').html(),
                    success: function () {
                        var $this = $('#' + id).find('.dnsCheck');
                        ids.forEach(function (n, i) {
                            $.get('{{ path_for('api.domain.dnscheck') }}', {id: n}, function (res) {
                                var info = '';
                                if (res.errCode == 0) {
                                    if (success) {
                                        success(res.data[0].dnsCheck);
                                    }
                                    info = '<p style="margin: 2px 10px;"><span>' + res.data[0].domain + '</span>:&nbsp;<span>' + (res.data[0].dnsCheck ? '<span class="layui-badge layui-bg-blue">校验成功</span>' : '<span class="layui-badge layui-bg-red">检验失败</span>') + '</span></p>'
                                } else {
                                    info = '<p>domain_id:' + n + '  => ' + res.errMsg + ' </p>'
                                }
                                $this.find('.loading').remove();
                                $this.append(info);
                            }, 'json')
                        });
                    },
                    end: function () {
                        if (!success) {
                            table.reload('dataTable');
                        }
                    }
                });
            }

            //添加域名
            layui.$('#btnAdd').on('click', function () {
                var id = 'modalAdd'
                layer.open({
                    type: 1,
                    id: id,
                    title: '添加域名',
                    maxmin: true, //开启最大化最小化按钮
                    shadeClose: false,
                    shade: 0.3,
                    area: ['600px', '600px'],
                    content: layui.$('#modalAdd-tpl').html(), //注意，如果str是object，那么需要字符拼接。
                    btn: ['提交', '取消'],
                    scrollbar: false,
                    yes: function (index, layero) {
                        $('#' + id).find('button.submit').trigger('click')
                    },
                    success: function () {
                        form.render();
                        $('#' + id).find('textarea[name=domains]').blur(function () {
                            var domains = utils.formatDomainStr($(this).val());
                            $(this).val(domains.join('\n'));
                        })
                    }
                });
                return false;
            })
        });
    </script>
{% endblock %}