<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="keywords" content=" {{domain.name}},趣米，趣米APP,Qumi.app,APP"/>
    <meta name="description" content="趣米APP,.APP域名专属停靠站-Qumi.app"/>
    <title>{{domain.name}} - {{ lang(1002) }}-Qumi.app</title>
    <link rel="stylesheet" type="text/css" href="{{ site.homepage }}/statics/theme/aiming.css" />
    {{ site.tongji|raw }}
</head>
<body>
<div class="header">
    <div class="header_main">
        <div class="header_domain">
           <small>Welcome To</small> {{ domain.name }}
        </div>
    </div>
</div>
<div class="line">
</div>
<div class="container">
    <div style="text-align: right">
        <a href="?l=zh">中文</a>
        <span class="div">|</span>
        <a href="?l=en">English</a>
    </div>
    <div class="am_dm">
        <p class="am_title">
        </p>
        <span class="am_dot">&nbsp;</span>
        <h1>
            {{ domain.name }}
        </h1>
        <p class="am_font">
            {{ lang(1002) }}
        </p>
    </div>

    {% if domain.description %}
    <div class="am_dm">
        <p class="am_title2">
            {{ lang(1006) }}
        </p>
        <span class="am_dot">&nbsp;</span>
        <p> {{domain.description}}</p>
    </div>
    {% endif %}

    <div class="am_dm">
        <p class="am_title2">
            {{ lang(1007) }}
        </p>
        <span class="am_dot">&nbsp;</span>
        <dl>
            {% if template.email %}
            <dd> {{ lang(1009) }}：{{ template.email }}</dd>
            {% endif %}
            {% if template.phone %}
            <dd>{{ lang(1010) }}：{{ template.phone }}</dd>
            {% endif %}
            {% if template.qq %}
            <dd>QQ：{{ template.qq }}</dd>
            {% endif %}
            {% if template.wechat %}
                <dd>{{ lang(1008) }}:&nbsp;{{ template.wechat }}</dd>
            {% endif %}

        </dl>
    </div>


    <div class="am_dm">
        <p class="am_title2">
            {{ lang(1005) }}
        </p>
        <span class="am_dot">&nbsp;</span>
        <p>{{domain.sale_type ? lang(1001) : lang(1013)~domain.price }}</p>
        <br/>
        <br/>
        <p class="line22">
        </p>
    </div>
    <div>
        <a href="https://qumi.app/" target="_blank" class="qumi" style="background:#e03b25;display: block;color:white;text-align: center;padding:20px;">
            <p class="firstline">{{ lang(1011) }}</p>
            <p class="lastline">{{ lang(1012) }}</p>
        </a>
    </div>
</div>
<div class="footer">
    Copyright © 2018 {{ domain.name }} All Rights Reserved.
</div>
<script type="text/javascript" logid="{{ logid }}"  src="{{ site.homepage }}/statics/js/realclicks.js"></script>
</body>
</html>