<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content=" {{domain.name}},趣米，趣米APP,Qumi.app,APP"/>
    <meta name="description" content="趣米APP,.APP域名专属停靠站-Qumi.app"/>
    <title>
        {{domain.name}} - {{ lang(1002) }}-Qumi.app
    </title>
    <script type="text/javascript" logid="{{ logid }}"  src="/statics/js/realclicks.js"></script>
    {{ site.tongji|raw }}
</head>

<body>
    <div class="main" style="height: 480px;max-width: 640px;margin: 0 auto;">
        <div style="text-align: right">
            <a href="?l=zh" class="active">中文</a>
            <span class="div">|</span>
            <a href="?l=en">English</a>
        </div>
        <div>
            <h1>{{ domain.name }}</h1>
            <p>{{ lang(1002) }}</p>
        </div>
        <div>
            <h2>{{ lang(1005) }}</h2>
            <p>{{domain.sale_type ? lang(1001) : lang(1013)~domain.price }}</p>
        </div>
        {% if domain.description %}
        <div>
            <h2>{{ lang(1006) }}</h2>
            <p> {{domain.description}}</p>
        </div>
        {% endif %}
        <div class="content">
            <h2>{{ lang(1007) }}</h2>
            {% if template.qq %}
                <span>QQ:&nbsp;{{ template.qq }}</span>&nbsp;&nbsp;
            {% endif %}
            {% if template.wechat %}
            <span>{{ lang(1008) }}:&nbsp;{{ template.wechat }}</span>&nbsp;&nbsp;
            {% endif %}
            {% if template.email %}
            <span>{{ lang(1009) }}:&nbsp;{{ template.email }}</span>&nbsp;&nbsp;
            {% endif %}
            {% if template.phone %}
            <span>{{ lang(1010) }}:&nbsp;{{ template.phone }}</span>&nbsp;&nbsp;
            {% endif %}
        </div>
        <br/>
        <a href="https://qumi.app/" target="_blank" class="qumi">
            <p class="firstline">{{ lang(1011) }}</p>
            <p class="lastline">{{ lang(1012) }}</p>
        </a>
        <div>
            <span class="footer-name">默认模板</span>
            <a href="https://qumi.app/" target="_blank" class="footer-qumi">&copy;Qumi</a>
        </div>
    </div>
</body>
</html>

