<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content=" {{domain.name}},趣米，趣米APP,Qumi.app"/>
    <meta name="description" content="{{domain.description}}-Qumi.app"/>
    <title>{{domain.name}} - {{ lang(1002) }}-Qumi.app</title>
    <link rel="stylesheet" type="text/css" href="{{ site.homepage }}/statics/theme/mypark.css" />
    {{ site.tongji|raw }}
</head>

<body>
<div class="wrapper">
    <div class="main">
        <div class="language">
            <a href="?l=zh" class="active">中文</a>
            <span class="div">|</span>
            <a href="?l=en">English</a>
        </div>
        <div class="header">
            <div class="title">
                {{domain.name}}

            </div>
            <div class="banner">{{ lang(1002) }}</div>
        </div>
        <div class="content">
            <div>

            </div>
            <div class="section">
                <div class="title">{{ lang(1003) }}</div>
                <div class="body">
                    <table>
                        <tr>
                            <td>{{ lang(1004) }}：</td>
                            <td>
                                {{domain.name}}

                            </td>
                        </tr>
                        <tr>
                            <td>{{ lang(1005) }}：</td>
                            <td>
                                {{domain.sale_type ? lang(1001) : lang(1013)~domain.price }}

                            </td>
                        </tr>

                        <!--<tr>
                            <td>域名平台：</td>
                            <td>
                                <a href="https://www.west263.hk" target="_blank">
                                    西部数码
                                </a>
                            </td>
                        </tr>
-->

                        <tr>
                            <td>{{ lang(1006) }}：</td>
                            <td>
                                {{domain.description}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="section">
                <div class="title">{{ lang(1007) }}</div>
                <div class="body">
                    <table>

                        <tr>
                            <td>QQ：</td>
                            <td>
                                {{template.qq}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1008) }}：</td>
                            <td>
                                {{template.wechat}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1009) }}：</td>
                            <td>
                                {{template.email}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1010) }}：</td>
                            <td>
                                {{template.phone}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <a href="https://qumi.app/" target="_blank" class="qumi">
            <p class="firstline">{{ lang(1011) }}</p>
            <p class="lastline">{{ lang(1012) }}</p>
        </a>
        <div class="footer clearfix">
            <span class="footer-name">{{ lang(1014) }}</span>
            <a href="https://qumi.app/" target="_blank" class="footer-qumi">&copy;Qumi.APP</a>
        </div>
    </div>
</div>
<script type="text/javascript" color="255,0,0" opacity="0.8" count="256" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

<script type="text/javascript" logid="{{ logid }}"  src="/statics/js/realclicks.js"></script>
</body>

</html>
