<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content=" {{domain.name}},趣米，趣米APP,Qumi.app"/>
    <meta name="description" content="{{domain.description}}-Qumi.app"/>
    <title>
        {{domain.name}} - {{ lang(1002) }}-Qumi.app</title>
    {#<link rel="stylesheet" type="text/css" href="https://qumi.app/statics/css/template.css" media="screen" />#}
    <style type="text/css">
        body {
            background-color: #f1f8fd;
            padding: 0;
            margin: 0;
            color: #333;
            font-size: 16px;
            font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft YaHei", STHeiti;
        }
        .wrapper {
            margin: 0 auto;
            max-width: 728px;
            margin-top: 20px;
        }

        .main {
            position: relative;
            background-color: #fff;
            border: 1px solid #e9e9e9;
            border-top: 2px solid #4765a0;
            padding: 40px;
            box-shadow: 0 10px 6px -6px #bbb;
            -moz-box-shadow: 0 10px 6px -6px #bbb;
            -webkit-box-shadow: 0 10px 6px -6px #bbb;
        }
        .clearfix {
            clear: both;
        }

        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }

        .language {
            position: absolute;
            top: 10px;
            right: 50px;
        }

        .language a, .language a:hover, .language a:active, .language a:visited {
            color: #999;
            font-size: 14px;
        }
        .language a.active{
            color: #369;
        }
        .language .div {
            color: #eee;
            margin: 0 5px;
        }
        .tag{
            background-color: rgba(103,194,58,.1);
            color:#67c23a;
            display: inline-block;
            padding:0 5px;
            line-height: 18px;
            height: 20px;
            vertical-align: middle;
            border-radius:4px;
            box-sizing: border-box;
            border:1px solid rgba(64,158,255,.2);
            white-space: normal;
            font-size: 12px;
        }
        .title {
            text-align: left;
            font-size: 26px;
            color: #369;
        }

        .header{
            margin-top: 10px;
        }
        .header .title {
            display: inline-block;
        }

        .banner {
            text-align: right;
            font-size: 14px;
            line-height: 28px;
            color: #369;
            padding-right: 10px;
            padding-top: 5px;
            float: right;
        }

        .content {
            border-top: 1px solid #ddd;
            margin-top: 20px;
            padding: 20px 10px;
        }

        .footer {
            border-top: 1px solid #ddd;
            padding-top: 10px;
            color: #aaa;
            font-size: 14px;
            font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB";
            height: 25px;
        }

        .section {
            margin: 20px 0;
        }

        .section .title {
            border-left: 5px solid #69c;
            background-color: #efefef;
            padding: 5px 10px;
            line-height: 28px;
            font-size: 14px;
            text-align: left;
        }

        .section .body {
            padding: 10px 15px;
            line-height: 28px;
            font-size: 14px;
        }

        li {
            line-height: 30px;
        }

        a,
        a:hover,
        a:active {
            color: #369;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .domain_age {
            color: red
        }

        .qumi {
            margin: 0 auto;
            margin-bottom: 20px;
            border: 2px solid #eee;
            max-width: 648px;
            background-color: #1064aa;
            overflow: hidden;
            display: block;
            padding: 8px 2px;
        }

        .qumi .firstline {
            color: #fff;
            font-size: 20px;
            line-height: 40px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        .qumi .lastline {
            color: #fff;
            font-size: 16px;
            line-height: 32px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }

        .footer-name {
            float: left;
        }

        .footer-qumi {
            float: right;
        }

        @media(max-width: 768px){
            .language{right:15px;}
            .banner{padding-right: 0px;margin-top:23px;}
            .main {padding:10px;}
        }
    </style>
    {{ site.tongji|raw }}
</head>

<body>
<div class="wrapper">
    <div class="main">
        <div class="language">
            <a href="?l=zh" class="active">中文</a>
            <span class="div">|</span>
            <a href="?l=en">English</a>
        </div>
        <div class="header">
            <div class="title">
                {{domain.name}}

            </div>
            <div class="banner">{{ lang(1002) }}</div>
        </div>
        <div class="content">
            <div>

            </div>
            <div class="section">
                <div class="title">{{ lang(1003) }}</div>
                <div class="body">
                    <table>
                        <tr>
                            <td>{{ lang(1004) }}：</td>
                            <td>
                                {{domain.name}}

                            </td>
                        </tr>
                        <tr>
                            <td>{{ lang(1005) }}：</td>
                            <td>
                                {{domain.sale_type ? lang(1001) : lang(1013)~domain.price }}

                            </td>
                        </tr>

                        <!--<tr>
                            <td>域名平台：</td>
                            <td>
                                <a href="https://www.west263.hk" target="_blank">
                                    西部数码
                                </a>
                            </td>
                        </tr>
-->

                        <tr>
                            <td>{{ lang(1006) }}：</td>
                            <td>
                                {{domain.description}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="section">
                <div class="title">{{ lang(1007) }}</div>
                <div class="body">
                    <table>

                        <tr>
                            <td>QQ：</td>
                            <td>
                                {{template.qq}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1008) }}：</td>
                            <td>
                                {{template.wechat}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1009) }}：</td>
                            <td>
                                {{template.email}}
                            </td>
                        </tr>


                        <tr>
                            <td>{{ lang(1010) }}：</td>
                            <td>
                                {{template.phone}}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
        <a href="https://qumi.app/" target="_blank" class="qumi">
            <p class="firstline">{{ lang(1011) }}</p>
            <p class="lastline">{{ lang(1012) }}</p>
        </a>
        <div class="footer clearfix">
            <span class="footer-name">默认模板</span>
            <a href="https://qumi.app/" target="_blank" class="footer-qumi">&copy;Qumi.APP</a>
        </div>
    </div>
</div>
<script type="text/javascript" color="255,0,0" opacity="0.8" count="256" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>

<script type="text/javascript" logid="{{ logid }}"  src="/statics/js/realclicks.js"></script>
</body>

</html>
