{% extends 'console.twig' %}

{% block console %}
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card tool-card">
                <div class="layui-card-header">
                    <h2 class="h2">最近十五天的总访问记录</h2>
                    <div class="card-tools">
                        <a href="{{ path_for('statistic.count') }}" target="_blank" class="btn-close">查看各域名总访问统计</a>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-row layui-form">
                        <div class="layui-input-inline layui-col-md4">
                            <select class="selectpicker" data-live-search="true" name="domain_id" id="domain_id">
                                <option value="0">所有域名</option>
                                {% for x in domains %}
                                    <option value="{{ x.id }}" {{ filter.domain_id==x.id ? 'selected' : '' }}>{{ x.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div id="echarts_count" style="height: 320px"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">

        layui.use(['layer', 'form', 'utils', 'echarts'], function () {
            var echarts = layui.echarts;
            var $ = layui.$;
            var chartCount = echarts.init(document.getElementById('echarts_count'));
            chartCount.showLoading({
                text: '正在努力的读取数据中...',    //loading话术
            });
            var day_url = "{{ path_for('statistic.day') }}";
            var log_url = "{{ path_for('statistic.logs') }}";

            function upChart(domain_id) {
                if (domain_id) {
                    var url = "{{ path_for('statistic.echarts_detail') }}"
                    var data = {'domain_id': domain_id}
                    $('#stic_day').prop('href', day_url + '?domain_id=' + domain_id);
                    $('#stic_log').prop('href', log_url + '?domain_id=' + domain_id);
                } else {
                    var url = "{{ path_for('statistic.echarts_count') }}"
                    var data = {}
                    $('#stic_day').prop('href', day_url);
                    $('#stic_log').prop('href', log_url);
                }
                $.get(url, data, function (res) {
                    if (res.errCode == 0) {
                        // 图表使用-------------------
                        var option = {
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                //data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
                                data: res.data.legendData,
                            },
                            toolbox: {
                                show: true,
                                feature: {
                                    mark: {show: true},
                                    dataView: {show: true, readOnly: false},
                                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                                    restore: {show: true},
                                    saveAsImage: {show: true}
                                }
                            },
                            calculable: true,
                            xAxis: [
                                {
                                    type: 'category',
                                    boundaryGap: false,
                                    //data : ['周一','周二','周三','周四','周五','周六','周日']
                                    data: res.data.xAxisData
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value'
                                }
                            ],
                            series: res.data.series
                        };
                        chartCount.setOption(option);
                        chartCount.hideLoading();
                    } else {
                        utils.swal.error(res.errMsg);
                    }
                });
            }

            $('#domain_id').on('changed.bs.select', function (e, clickedIndex, newValue, oldValue) {
                var domain_id = parseInt($(e.currentTarget).val(), 10);
                console.log($(e.currentTarget));
                console.log($(e.currentTarget));
                upChart(domain_id);
            });
            upChart(0);
        });
    </script>
{% endblock %}