{% extends 'console.twig' %}

{% block console %}
    <div class="row">
        <div class="col-md-12">
            <div>
                <div class="opts">
                    <form class="form-inline" method="get">
                        <div class="form-group">
                            <select  class="selectpicker" data-live-search="true" name="domain_id">
                                <option value="0">所有域名</option>
                                {% for x in domains %}
                                    <option value="{{ x.id }}" {{ filter.domain_id==x.id ? 'selected' : '' }}>{{ x.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group" >
                            <select  class="selectpicker" name="is_bot">
                                <option value="0">所有类型</option>
                                <option value="1" {{ filter.is_bot==1 ? 'selected' : '' }}>用户或者其他</option>
                                <option value="2" {{ filter.is_bot==2 ? 'selected' : '' }}>搜索引擎</option>
                            </select>
                        </div>

                        <div class="input-group col-md-2 date"  id="start-date">
                            <input type='text' class="form-control" name="start_date" placeholder="开始日期" value="{{ filter.start_date }}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>

                        <div class="input-group col-md-2 date" id="end-date" >
                            <input type='text' class="form-control" name="end_date" placeholder="结束日期" value="{{ filter.end_date }}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                        <button type="submit" class="btn btn-primary">查询</button>
                    </form>
                </div>
                <div class="table">
                    <table class="table table-striped table-hover table-flex">
                        <thead>
                        <tr>
                            <td>访问URL</td>
                            <td>IP</td>
                            <td>地理位置</td>
                            {#<td class="col-md-1">来源</td>#}
                            <td>访问类型</td>
                            <td>客户端</td>
                            <td>系统</td>
                            <td>访问时间</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in records %}
                            {% set cli_name = item.cli_version ? item.cli_name~'('~ item.cli_version  ~')' : item.cli_name%}
                            {% set os_name = item.os_version ? item.os_name~'('~ item.os_version  ~')' : item.os_name%}
                            <tr>
                                <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                                <td>{{ item.ip }}</td>
                                <td>{{ item.region }}</td>
                                {#<td>{{ item.referer }}</td>#}
                                <td>{{ item.cli_type }}</td>
                                <td>{{ cli_name }}</td>
                                <td>{{ os_name }}</td>
                                <td>{{ item.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                            {{ pagination|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        var dateCfg = {
            language: 'zh-CN',
            weekStart: 1,
            format: 'yyyy-mm-dd',
            autoclose: 1,
            todayHighlight: 1,
            minView : 2,
            endDate : new Date()
        };
        $('#start-date').datetimepicker(dateCfg);
        $('#end-date').datetimepicker(dateCfg);
        $("#start-date").on("changeDate", function (e) {
            $('#end-date').datetimepicker('setStartDate', e.date);
        });
        $("#end-date").on("changeDate", function (e) {
            $('#start-date').datetimepicker('setEndDate', e.date);
        });
    </script>
{% endblock %}