{% extends "layout.twig" %}

{% block container %}
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md4 layui-col-md-offset4">
                <div class="login-form login">
                    <form method="post" action="{{ path_for('login') }}" class="layui-form" id="hasPwd">
                        <div class="title text-center">
                            <h2>趣米 - 登录</h2>
                        </div>
                        <hr/>
                        {% if errorMsg %}
                            <div class="alert alert-danger">
                                {{ errorMsg }}
                            </div>
                        {% endif %}
                        <div>
                            <div class="layui-form-item">
                                <label for="email" class="layui-form-label login-label">邮箱</label>
                                <div class="layui-input-block login-input-block">
                                    <input type="email" class="layui-input" required  lay-verify="required" id="email" name="email" placeholder="Email" value="{{ email }}">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="password" class="layui-form-label login-label">密码</label>
                                <div class="layui-input-block login-input-block">
                                    <input type="password" class="layui-input" required  lay-verify="required"  id="password" name="password" placeholder="Password" value="{{ password }}">
                                </div>
                            </div>
                            <input type="hidden" name="_form" value="{{ _form }}">
                            <input type="hidden" name="redirect_url" value="{{ redirect_url }}">
                            <div class="layui-form-item">
                                <div class="layui-input-block login-input-block text-right">
                                    <button class="layui-btn" lay-submit style="float: left">登录</button>
                                    <a href="{{ path_for('register') }}" style="line-height: 38px;"><i class="fa fa-external-link"></i>注册</a>&nbsp;
                                    <a href="{{ path_for('forget') }}" style="line-height: 38px;"><i class="fa fa-lock"></i> 忘记密码</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

        layui.use(['layer', 'element', 'form', 'table', 'utils'], function() {
            var layer = layui.layer;
            var form = layui.form;
            var table = layui.table;
            var utils = layui.utils;
        });
    </script>
{% endblock %}