<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ author|default(site.author) }}">
    <meta name="keyword" content="{{ keyword|default(site.keyword) }}">
    <meta name="description" content="{{ description|default(site.description) }}">
    <title>404 - not found</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/statics/css/layout.css?ga" rel="stylesheet">
    <style type="text/css">
        body{background: #F5F5F5;}
    </style>
    {{ site.tongji|raw }}
</head>
<body style="width: 100%;height: 100%">

<div class="error-pages">

    <img src="/statics/images/404.png" alt="404" class="icon" width="400" height="260">
    <h3>Sorry but we couldn’t find this page</h3>
    <h2>抱歉，当前页面找不到了</h2>
    <br/>
    <div class="bottom-links">
        <a href="javascript:history(-1);" class="btn btn-default">返回上一页</a>
        <a href="{{ site.homepage }}" class="btn btn-default">返回首页</a>
    </div>

</div>

</body>
</html>