{% extends "layout.twig" %}

{% block container %}
    <div class="layui-carousel" id="carousel">
        <div carousel-item>
            {% for x in carousel.records %}
                <div>
                    <a href="{{ x.url ? x.url : '#' }}" target="{{ x.url ? target : '' }}"><img src="{{ x.image }}" alt="{{ x.title }}" title="{{ x.title }}" style="height: 100%;width: 100%"></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="layui-container">
        <div class="layui-row layui-fluid layui-col-space20">
            <div class="layui-col-md4 ">
                <div class="index-block">gaweg
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="index-block">gaeg
                </div>
            </div>

            <div class="layui-col-md4">
                <div class="index-block">gae
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['carousel'], function () {
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#carousel'
                ,width: '100%' //设置容器宽度
                ,height: '360px' //设置容器宽度
                ,arrow: 'hover' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
{% endblock %}