
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">配置修改</h4>
</div>
<div class="modal-body" style="max-height: 480px;overflow: auto">
    <form class="form-horizontal modal-form" >
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <td>配置名</td>
                <td>配置值</td>
                <td>排序</td>
            </tr>
            </thead>
            <tbody>
            {% for item in records %}
                <tr>
                    <td class="domain"><input type="hidden" name="id[{{ loop.index }}]" value="{{ item.id }}">{{ item.key }}</td>
                    <td>
                        <textarea class="form-control description" name="val[{{ loop.index }}]">{{ item.val }}</textarea>
                    </td>
                    <td>
                        <input type="number" class="form-control" name="sort[{{ loop.index }}]" value="{{ item.sort }}">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary modal-submit">确认</button>
</div>
<script type="text/javascript">
    (function () {
        $('.modal-submit').click(function () {
            var modalObj = $(this).parents('div.modal');
            var form = modalObj.find('form.modal-form');
            $.post('{{ path_for('admin.siteconf.update') }}', form.serialize(), function(res){
                if (res.errCode == 0) {
                    modalObj.modal('hide');
                    utils.swal.success('', true);
                } else {
                    utils.swal.error(res.errMsg);
                }
            })
        })
    })()
</script>